<div>
    <!-- As a heading -->
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Latinoamerica</span>
        </div>
    </nav>
</div>
<!-- As a link -->
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.youtube.com/watch?v=DkFJE8ZdeG8">Cancion Youtube</a>
    </div>
</nav>
<div class="row">
    <div class="col">
        <hr>
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">{{frase.autor}}</h5>
                <p class="card-text">{{frase.mensaje}}</p>

            </div>
        </div>
        <a class="btn btn-primary" href="https://www.buenamusica.com/residente/biografia" role="button">Biografia</a>
    </div>
    <div class="col">